<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../styles/director.css" />

    <title>G&A</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <ul class="nav-ul">
          <li class="nav-li">
            <a class="nav-a" href="/"
              ><img
                class="logo-img2"
                src="../imgs/logo2.png.png"
                alt="G&A Logo"
            /></a>
          </li>
          <li class="nav-li">
            <a class="nav-a" href="../view/movies"><h2>Movies</h2></a>
          </li>
          <li class="nav-li">
            <a class="nav-a" href="../view/director"><h2>Directors</h2></a>
          </li>
          <li class="nav-li">
            <a class="nav-a" href="../view/awards"><h2>Awards</h2></a>
          </li>
          <li class="nav-li">
            <a class="nav-a" href="../view/medias"><h2>Medias</h2></a>
          </li>
          <li class="nav-li-i">
            <a class="nav-a-i" href="../view/login"
              ><i class="fa-solid fa-door-open fa-3x"></i
            ></a>
          </li>
        </ul>
      </div>
    </header>

    <section>
      <div class="parent">
        <div class="card">
          <div class="card-info">
            <h4>Nombre</h4>
            <h4>Apellido1 Apellido2</h4>
            <div class="movies">
              <p>Movie1</p>
              <p>Movie2</p>
              <p>Movie3</p>
              <p>Movie4</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-info">
            <h4>Nombre</h4>
            <h4>Apellido1 Apellido2</h4>
            <div class="movies">
              <p>Movie1</p>
              <p>Movie2</p>
              <p>Movie3</p>
              <p>Movie4</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-info">
            <h4>Nombre</h4>
            <h4>Apellido1 Apellido2</h4>
            <div class="movies">
              <p>Movie1</p>
              <p>Movie2</p>
              <p>Movie3</p>
              <p>Movie4</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-info">
            <h4>Nombre</h4>
            <h4>Apellido1 Apellido2</h4>
            <div class="movies">
              <p>Movie1</p>
              <p>Movie2</p>
              <p>Movie3</p>
              <p>Movie4</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="../src/director.js"></script>
  </body>
</html>
