<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../styles/director.css" />

    <title>G&A</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <ul class="nav-ul">
          <li class="nav-li">
            <a class="nav-a" href="/"
              ><img
                class="logo-img2"
                src="../imgs/logo2.png.png"
                alt="G&A Logo"
            /></a>
          </li>
          <li class="nav-li">
            <a class="nav-a" href="../view/movies"><h2>Movies</h2></a>
          </li>
          <li class="nav-li">
            <a class="nav-a" href="../view/director"><h2>Directors</h2></a>
          </li>
          <li class="nav-li">
            <a class="nav-a" href="../view/awards"><h2>Awards</h2></a>
          </li>
          <li class="nav-li">
            <a class="nav-a" href="../view/medias"><h2>Medias</h2></a>
          </li>
          <li class="nav-li-i">
            <a class="nav-a-i" href="../view/login"
              ><i class="fa-solid fa-door-open fa-3x"></i
            ></a>
          </li>
        </ul>
      </div>
    </header>

    <section>
      <div class="slideshow-container">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
          <div class="text">
            <img class="dir-img" src="../imgs/Posters.png" alt="" />
            <div class="info">
              <div class="main-info">
                <h4>Nombre</h4>
                <div class="lastname">
                  <h4>PrimApellido</h4>
                </div>
              </div>
              <div class="dir-movies">
                <p>Movies</p>
                <p>Movies</p>
                <p>Movies</p>
              </div>
            </div>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="text">
            <img class="dir-img" src="../imgs/Posters.png" alt="" />
            <div class="info">
              <div class="main-info">
                <h4>Nombre</h4>
                <div class="lastname">
                  <h4>PrimApellido</h4>
                </div>
              </div>
              <div class="dir-movies">
                <p>Movies1111</p>
                <p>Movies</p>
                <p>Movies</p>
              </div>
            </div>
          </div>
        </div>

        <div class="mySlides fade">
          <div class="text">
            <img class="dir-img" src="../imgs/Posters.png" alt="" />
            <div class="info">
              <div class="main-info">
                <h4>Nombre</h4>
                <div class="lastname">
                  <h4>PrimApellido</h4>
                </div>
              </div>
              <div class="dir-movies">
                <p>Movies2222</p>
                <p>Movies</p>
                <p>Movies</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Next and previous buttons -->
      </div>
      <br />
      <div class="slides">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
    </section>

    <script src="../src/director.js"></script>
  </body>
</html>
