<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../styles/movies.css" />

    <title>G&A</title>
  </head>
  <body>
    <header>
      <div class="nav">
        <ul class="nav-ul">
          <li class="nav-li">
            <a class="nav-a" href="/"
              ><img
                class="logo-img2"
                src="../imgs/logo2.png.png"
                alt="G&A Logo"
            /></a>
          </li>
          <li class="nav-li">
            <a class="nav-a" href="../view/movies"><h2>Movies</h2></a>
          </li>
          <li class="nav-li">
            <a class="nav-a" href="../view/director"><h2>Directors</h2></a>
          </li>
          <li class="nav-li">
            <a class="nav-a" href="../view/awards"><h2>Awards</h2></a>
          </li>
          <li class="nav-li">
            <a class="nav-a" href="../view/medias"><h2>Medias</h2></a>
          </li>
          <li class="nav-li-i">
            <a class="nav-a-i" href="../view/login"
              ><i class="fa-solid fa-door-open fa-3x"></i
            ></a>
          </li>
        </ul>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="main-info">
          <h4>The Hateful Eight</h4>
          <img class="posters" src="../imgs/Posters.png" alt="" />
        </div>
        <div class="sec-info">
          <p>9/10</p>
          <p>Quentin Tarantino</p>
          <p>Action</p>
          <div class="desc">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur
            </p>
          </div>
        </div>
        <div class="more-icon">
          <a class="icon-link" href="#" id="myBtn"
            ><i class="fa-solid fa-angles-right fa-2x"></i
          ></a>
        </div>
      </div>
    </section>

    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div>
          <span class="close">&times;</span>
          <h4>The Hateful Eight - 2004</h4>
          <h5>Quentin Tarantino</h5>
          <h6>9/10</h6>
          <h6>Action</h6>
        </div>

        <div class="desc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur
          </p>
          <br />
          <hr />
          <div class="premios">
            <h5>Awards</h5>
            <p>Premio1</p>
            <p>Premio2</p>
          </div>
          <hr />
          <div class="criticas">
            <h5>Critics</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../src/index.js"></script>
    <script src="../src/fetch.js"></script>
  </body>
</html>
