@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Roboto:wght@400;900&family=Ubuntu:wght@400;700&display=swap');

body{
    margin: 0;
    background-color: #5c2929;
}

.bg{
  background-image:url(../imgs/backgroundMedias.png);
    opacity: 1;
    width: 100%;
    position: absolute;
    background-attachment: fixed;
    background-position: inherit;
    background-repeat: repeat;
    background-size:contain;
}

.transbox{
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
}

/*NAV*/

.content{
  opacity: 1 !important;
  z-index: 1;
  filter: blur(0);
  -webkit-filter: blur(0);
  position: relative;
}
.nav{
    background-color: rgb(242,29,68);
    padding: 1px 10% 1px 8%;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 90%;
    margin: 1% auto;
}

.nav-li-i{
    margin-top: 1%;
}

.logo-img2{
    height: 70px;
}

.nav-a{
    text-decoration: none;
    color: #191919;
    font-family: 'Ubuntu' ,sans-serif;
}

.nav-a-i{
    text-decoration: none;
    color: #191919;
    margin-top: 200%;
}




/* Body */

.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3%;
  justify-items:center;

}

.card {
  --background: linear-gradient(to left, #ea5358 0%, #ea5358 100%);
  width: 250px;
  height: 300px;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: #f7ba2b;
  background: var(--background);
  position: relative;
  z-index: 1;
  margin-bottom: 13%;
 }
 
 .card::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(25px);
  background: #f7ba2b;
  background: var(--background);
  transition: opacity .5s;
 }
 
 .card-info {
  --color: #181818;
  background: var(--color);
  color: #F6F1F1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: .7rem;
  transition: .3s;
  font-family: 'Montserrat', sans-serif;
 }
 

 
 /*Hover*/
 .card:hover::after {
  opacity: 0;
 }
 
 .card:hover .card-info {
  color: #ea5358;
 }


h4{
  font-size: 1.2rem;
  margin: 4% 0;
}

.movies{
  margin-top: 7%;
}
 




