@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Roboto:wght@400;900&family=Ubuntu:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    height: 100vh;
    background-color: #F6F1F1;
}

.bg{
    background-image:url(../imgs/owl.png);
    opacity: 1;
    height: 110vh;
    position: relative;
    background-attachment: fixed;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size:cover;
}


/*NAV*/
.nav{
    background-color: rgb(242,29,68);
    padding: 1px 10% 1px 8%;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 90%;
    margin: 1% auto;
}

.nav-li-i{
    margin-top: 1%;
}

.logo-img2{
    height: 70px;
}

.nav-a{
    text-decoration: none;
    color: #191919;
    font-family: 'Ubuntu' ,sans-serif;
}

.nav-a-i{
    text-decoration: none;
    color: #191919;
    margin-top: 200%;
}



/*BODY*/


/*Main Info*/

.info{
    background-color: rgb(242,29,68);
    text-align: center;
}

.main-info{
    display: flex;
    padding: 3% 0 3%;
    width: 70%;
    align-items:end;
    margin: 0 auto;
}

.info-desc{
    color: #F6F1F1;
    font-family: 'Montserrat' , sans-serif;
}

.title{
    font-size: 4rem;
}

.slogan{
    font-size: 2rem;
    width: 70%;
    margin: 0 auto 5%;
    font-style: italic;
}

.img-logo{
    height: 250px;
}

.sec-info{
    color: #F6F1F1;
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 3%;
    font-family: 'Ubuntu' , sans-serif;
    line-height: 2.5;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.sec-info-p{
    padding: 2%;
}



/* Background-TXT */

.txt{
    background-color: #F6F1F1;
    width: 30%;
    text-align: center;
    padding: 5%;
    margin-top: 10%;
    margin-left: -2%;
    border-radius: 30px;
    box-shadow: rgb(242,29,68,0.4) 5px 5px, rgb(242,29,68,0.3) 10px 10px, rgb(242,29,68,0.2) 15px 15px, rgb(242,29,68,0.1) 20px 20px, rgb(242,29,68,0.05) 25px 25px;
}

.bg-txt{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    color: #191919;
}

.link{
    color: #191919;
    scroll-behavior: smooth;
}

/*About-Us*/

.about-us{
    background-color: #F6F1F1;
    padding: 3% 8% 9%;
}

.abus-title{
    font-family: 'Monserrat', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 7%;
}

.img-us{
    height: 270px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.abus-info{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    align-items: center;
}

.abus-text{
    width: 55%;
    font-family: 'Ubuntu', sans-serif;
    line-height: 2;
    font-size: 1.2rem;
    text-align: justify;
}



/*Socials - Footer*/

.bottom-info{
    margin: 3% 0;
    text-align: center;
}

.socials{
    width: 15%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 2% 0;
}

