@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Roboto:wght@400;900&family=Ubuntu:wght@400;700&display=swap');

body{
    margin: 0;
    height: 100vh;
    background-color: #F6F1F1;
}

/*NAV*/
.nav{
    background-color: rgb(242,29,68);
    padding: 1px 10% 1px 8%;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 90%;
    margin: 1% auto;
}

.nav-li-i{
    margin-top: 1%;
}

.logo-img2{
    height: 70px;
}

.nav-a{
    text-decoration: none;
    color: #191919;
    font-family: 'Ubuntu' ,sans-serif;
}

.nav-a-i{
    text-decoration: none;
    color: #191919;
    margin-top: 200%;
}


/* Grid */
.parent {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3%;
}

.container{
    background-color: #191919;
    color: #F6F1F1;
    font-family: 'Ubuntu', sans-serif;
    padding: 5%;
    padding-top: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.name{
    font-size: 25px;
}

.url{
    font-size: 15px;
    font-style: italic;
}

i{
    margin: 5% 5% 0 0;
}